# Google Gemini configuration
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-001'
GOOGLE_LLM_MODEL='gemini-2.5-flash-lite'

# OpenAI API configuration
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'

# Huggingface configuration
HF_TOKEN=
HF_EMBEDDING_MODEL='sentence-transformers/all-MiniLM-L6-v2'

# Database configuration
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=

# PDF file path
PDF_PATH=